body{
    margin: 0;
    padding: 0;

    background-image: url("imgs/travel.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px);
}
.header{
    color:black;
}
.container1{
    display: flex;
    justify-content: space-between;
}
.container1 .menu ul{
    display: flex;
    list-style: none;
    
}
.container1 .menu ul li{
    padding: 10px;
    margin-right: 30px;
    color: black;
    font-size: large;
    flex-wrap: wrap;
    
}
.menu ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu ul li a:hover{
    color: gold;
}
.content{
    position: relative;
    top:100px;
    color:black;
    
}
.container2{
   
    justify-content: space-between;
    align-content: center;
    padding-left: 35%;
}

h3{
    
    font-size: xx-large;
    font-weight: bolder;    
    animation: typewritter 2s steps(13) infinite ;
}
button{
    position: relative;
    left:150px
    
    
}
.btn{
    font-size:x-large;
    font-weight: bolder;
    background-color: red;
    font-style: oblique;
    color: white;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    
}
.btn:hover{
    background-color: gold;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
    

}
.typing{
    overflow: hidden;
    white-space: nowrap;
    width:0;
    animation: typing 5s steps(30,end) infinite;
    

    animation-fill-mode: forwards;
}
@keyframes typing{
    from{width:0}
    to{width:100%}
}